.container {
    
    margin: auto;
    text-align: center;

}
.dice{
    text-align: center;
    display: inline-block;
}
 body{
    background-color: #393E46;
 }
h1{
    font-family: 'Lobster',cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #26aeb8;
}
p{
    font-size: 2rem;
    color: #54c9dd;
    font-family: 'Indie Flower', cursive;
}
img{
    width: 80%;
}
footer{
    margin-top: 5%;
    text-align: center;
    color: #bfc3c9;
    font-family: 'Indie Flower',cursive;
}

